<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Detalles </h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>nombre:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">volver</button>
  <button (click)="save()">guardar cambios</button>
</div>